.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
 
    font-family: 'Work Sans', sans-serif;
}
.container img{
    width: 3rem;
}
.container h1{
    font-size: 1.3rem;
    color: var(--black);
   
}
@media only screen and (max-width: 768px){
    .container img{
        width: 1.5rem;
    }
   
}
